
@model BookingHotels.Web.Models.HotelViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.HotelName</h2>

<div style="grid-cell">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HotelStars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelStars)
        </dd>
        <dt>
            Available rooms:
        </dt>
        <dd>
            @foreach (var room in Model.Rooms)
            {
                <div>Room number: @room.Price</div>
                <div>Room type: @room.RoomType</div>
                @Html.ActionLink("Book", "Index")
                <hr>
            }
        </dd>

    </dl>
</div>
<p>
@*


    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
*@
    @Html.ActionLink("Back to List", "Index")
</p>
