@model IEnumerable<BookingHotels.Web.Models.HotelViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Hotels</h2>


@{
    if (User.IsInRole("admin")){
        @Html.ActionLink("+ Create New Hotel +", "Create");
        <p>You are admin!</p>
    }
}

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelStars)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelStars)
                </td>
                <td>
                    @* @Html.ActionLink("Edit not implemented yet", "Edit", new { id=item.Id }) | *@
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
