@model BookingHotels.Web.Models.BookingViewModel

@{
    ViewBag.Title = "Make new booking";
    <h2>@ViewBag.Title</h2>
}
<hr />

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-2">Your room:</div>
        <div class="col-sm-10">
            @ViewBag.Hotel (@ViewBag.HotelStars)
            <br />
            @ViewBag.Price
            <br />
            @ViewBag.RoomType
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.HiddenFor(model => model.RoomId)
        @Html.HiddenFor(model => model.Room)
        @Html.HiddenFor(model => model.ApplicationUserId)
        @Html.LabelFor(model => model.BookingStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BookingStartDate, new { htmlAttributes = new { @class = "datefield, form-control", type = "date" } })
            @Html.ValidationMessageFor(model => model.BookingStartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookingEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BookingEndDate, new { htmlAttributes = new { @class = "datefield, form-control", type = "date" } })
            @Html.ValidationMessageFor(model => model.BookingEndDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.AntiForgeryToken()
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Book" class="btn btn-success" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
