@model BookingHotels.Web.Models.RoomViewModel
@{
    ViewBag.Title = "Room details";
    <h2>@ViewBag.Title</h2>
    string hotelName = ViewBag.hotelName;
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd>
            @Html.ActionLink(
linkText: hotelName,
actionName: "Details",
controllerName: "Hotel",
routeValues: new
{
    id = Model.HotelId,
},
htmlAttributes: null
)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomPrice) 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomPrice)$
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomType)
        </dd>
    </dl>
</div>
<p>
    @*
    @Html.ActionLink("Book this room", "Book", new { id = Model.Id });
    *@

    <input type="button" class="btn btn-primary" value="Book this room" onclick="location.href='@Url.Action("Book", new { id = Model.Id })'" />


    @*@using (Html.BeginForm("Book", "Room", new { id = Model.Id }))
    {
        <button class="btn btn-primary">Book this room</button>
    }*@
    
    <br>
    @Html.ActionLink("Back to List", "Index") |
    @* Admin actions*@
    @{
        if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }); @:|
        }
    }
</p>
