@model BookingHotels.Web.Models.RoomViewModel

@{
    ViewBag.Title = "Room details";

    <h2>@ViewBag.Title</h2>
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HotelId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomType)
        </dd>

    </dl>
</div>
<p>
    | @Html.ActionLink("Book this room", "Book") |
    
    | @Html.ActionLink("Back to List", "Index") |
    @* Admin actions*@
    @{
        if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }); @:|
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }); @:|
        }
    }

</p>
