@model BookingHotels.Web.Models.RoomViewModel
@{
    ViewBag.Title = "Room details";
    <h2>@ViewBag.Title</h2>
    string hotelName = ViewBag.hotelName;
}
<div class="container">
            <div class="row">
                
                <div class="col-md-4 text-center">
                    <div class="img">
                        <img src="~/Content/Images/room.png" height="100" width="100">
                    </div>
                </div>
                    
                <div class="col-md-8">@Html.DisplayFor(model => model.RoomPrice) $</div>

            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    @Html.DisplayFor(model => model.RoomType)
                </div>
                <div class="col-md-6">
                    @Html.ActionLink(
                        linkText: hotelName,
                        actionName: "Details",
                        controllerName: "Hotel",
                        routeValues: new
                        {
                            id = Model.HotelId,
                        },
                        htmlAttributes: null)
                </div>
            </div>
            <hr/>
            <div class="row text-center">
                <input type="button" class="btn btn-primary" value="Book this room" onclick="location.href='@Url.Action("Book", new { id = Model.Id })'" /> 
            </div>
</div>
@Html.ActionLink("Back to List", "Index") |
@* Admin actions*@
@{
    if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }); @:|
    }
}
</p>
