@model BookingHotels.Domain.Entities.RoomImage
@{
    ViewBag.Title = "Edit room";
    // Images Srcs
    var imgSrcs = ViewBag.imgSrcs;
    // Edited room
    BookingHotels.Web.Models.RoomViewModel room = ViewBag.room;
}
<h2>@ViewBag.Title</h2>
<hr />
<h3>Response from Web Api:</h3>
@ViewBag.response
<h3>Response Content from Web Api:</h3>
@ViewBag.responseContent
<h3>Display some images from api/image:</h3>

@* Display some images from api/image:*@
@foreach (string imgsrc in imgSrcs)
{
    <img src="@imgsrc" width="50" height="50" />
}
@*
    Display some images (ActionResult method)
    @foreach (string imgsrc in ViewBag.responseContent)
    {
        var watch = System.Diagnostics.Stopwatch.StartNew();
        <img src='@Url.Action("GetImageSrc2", "Room", new { filePath = imgsrc })' width="150" height="150"/>
        watch.Stop();
        System.Diagnostics.Debug.WriteLine("GetImageSrc1 time: " + watch.ElapsedMilliseconds);
    }
*@
<hr/>
<div class="row">
    <div class="col-md-5">
        <div class="row">
            <h2>You are editing this room:</h2>
        </div>
        <div class="row">
            Id: @room.Id
        </div>
        <div class="row">
            RoomType: @room.RoomType
        </div>
        <div class="row">
            @Html.ActionLink(
            linkText: "Hotel: "+room.HotelId.ToString(),
            actionName: "Details",
            controllerName: "Hotel",
            routeValues: new
            {
                id = room.HotelId,
            },
            htmlAttributes: null)
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <h2>Images for this room:</h2>
        </div>
        <div class="row">
            Todo
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="row text-center">
            <h3>Choose an image to add to this room:</h3>
        </div>
        <div class="row form-group text-center">
                <input type="submit" value="Upload picture (todo)" class="btn btn-default" />
        </div>
    </div>
</div>








