@model IEnumerable<BookingHotels.Web.Models.RoomViewModel>
@{
    ViewBag.Title = "Rooms";

    <h2>@ViewBag.Title</h2>

    if (User.IsInRole("admin"))
    {
        <p>You are admin!</p>
        @Html.ActionLink("+ Create New Room +", "Create");
    }
}
<br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HotelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomType)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HotelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomType)
        </td>
        <td>|
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @* Admin actions:*@
            @{
            if (User.IsInRole("admin"))
                {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }); @:|
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }); @:|
                }
            }
        </td>

    </tr>
    }
</table>
